services:
  postgres:
    image: postgres:latest
    container_name: postgres_cont 
    environment: 
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes: 
      - postgres-data:/var/lib/postgresql/data
volumes: 
  image-backup-vol:
  postgres-data: 
